body {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control='slide'] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

[data-control='slide'] li a {
  display: block;
  width: 12px;
  height: 12px;
  background: #febb60;
  border-radius: 50%;
  margin: 5px;
  overflow: hidden;
  text-indent: -99px;
}

[data-control='slide'] li.active a,
[data-control='slide'] li a:hover {
  background: #ed5b59;
}

.custom-controls {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.custom-controls li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.3s;
  cursor: pointer;
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px;
}

.arrow-nav button {
  color: white;
  border: none;
  background: #febb60 url(../img/arrow.svg) center center no-repeat;
  border-radius: 4px;
  height: 40px;
  width: 40px;
}

.arrow-nav .prev {
  transform: rotate(-180deg);
}
